{% extends 'base.html' %}

{% block title_content %}
  <title>Add Publisher</title>
{% endblock %}

{% block page_content %}
  <style>
    .publisher-form-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .publisher-form {
      width: 800px; /* Lebar form */
      height: 300px; /* Tinggi form */
      max-width: 100%;
      padding: 20px;
      background-color: #afeeee; /* Warna latar belakang hijau biru muda */
      border: 1px solid #87cefa; /* Warna garis tepi biru muda */
      border-radius: 5px;
    }

    .publisher-form label {
      display: block;
      margin-bottom: 5px;
      color: #000; /* Warna teks hitam */
    }

    .publisher-form input[type="text"] {
      width: 100%;
      padding: 5px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
      color: #000; /* Warna teks hitam */
      font-family: 'Comic Sans MS', cursive;
    }

    .publisher-form input[type="submit"] {
      padding: 10px 20px;
      background-color: #ffc0cb; /* Warna latar belakang tombol pink */
      color: #fff;
      border: none;
      border-radius: 3px;
      cursor: pointer;
    }
  </style>

  <div class="publisher-form-container">
    <form action="/add_publisher" method="post" class="publisher-form">
      {% csrf_token %}
      <label for="publisherName">Publisher Name:</label>
      <input type="text" id="publisherName" name="publisherName" required>
      <br>
      <label for="publisherLocation">Publisher Location:</label>
      <input type="text" id="publisherLocation" name="publisherLocation" required>
      <br>
      <input type="submit" value="Submit">
    </form>
  </div>
{% endblock %}
